<!-- <h2>Product</h2>
<div>
  <label>Name Product</label>
  <input type="text" [(ngModel)]="product.name" name="name" placeholder="name do product">
</div>
<div>
  <label>Codigo HTML</label>
  <input type="text" [(ngModel)]="product.campoHtml" name="campoHtml" placeholder="campoHtml">
</div>
<div>
  <label>Codigo JS Script</label>
  <input type="text" [(ngModel)]="product.campoScript" name="campoScript" placeholder="campoScript">
</div>
<div>
  <button (click)="createProduct(product)">Create Product</button>
  
</div>


<div *ngFor="let item of products">
  <label for="">{{item.name}}</label>
  <input type="radio" name="{{item.productId}}" value="{{item.productId}}"/> 
</div> -->





<div class="row">
    <div class="col-sm-4 text-right">
      <b>Alert example: </b>
    </div>
    <div class="col-sm-4">
      <button class="btn btn-default btn-block" (click)=showAlert()>Show alert</button>
    </div>
  </div>



   
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
  
  <p *ngFor="let item of products">
    <input class="form-control" 
      name="{{item.productId}}" 
      type="radio" id="{{item.productId}}" 
      (change)="teste()" 
      value="{{item.productId}}" 
      ngModel required #campoRadio="ngModel"/>

    <label for="{{item.productId}}">{{item.name}}</label>
    <span *ngIf="!campoRadio.valid">Campos obrigatorios</span>
    <!-- <span *ngIf="!campoRadio.valid && campoRadio.touched">Campos obrigatorios</span> -->
  </p>
  <button type="submit" class="btn btn-default" [disabled]="!f.valid">submite</button>
</form>



