<h2>Product</h2>
<div>
  <label>Name Product</label>
  <input type="text" [(ngModel)]="product.name" name="name" placeholder="name do product">
</div>
<div>
  <label>Codigo HTML</label>
  <input type="text" [(ngModel)]="product.campoHtml" name="campoHtml" placeholder="campoHtml">
</div>
<div>
  <label>Codigo JS Script</label>
  <input type="text" [(ngModel)]="product.campoScript" name="campoScript" placeholder="campoScript">
</div>
<div>
  <button (click)="createProduct(product)">Create Product</button>
  
</div>


<table>
  <tr>
    <th>Name</th>
    <th>Campo HTML</th>
    <th>Campo Script</th>
  </tr>
  <tr *ngFor="let item of products">
    <td>{{ item.productId }}  |   {{ item.name }}</td>
    <td [innerHTML]="item.campoHtml"></td>
    <td>{{ item.campoScript }}</td>
  </tr>
</table>