/* .ng-invalid.ng-touched:not(form){

    background-color: #F0FFFF;
    border: 1px solid red;
}
 */

.ng-invalid:not(form){
    
        background-color: #F0FFFF;
        border: 1px solid red;
    }