<p>
  productdetalhe works!
</p>


{{ product.campoScript }}

<a href="#" id="dreport">ok</a>

<button type="button" (click)="createTagScriptSImao(product.campoScript)">rapaz sera </button>


<a id="launch" data-role="button">Launch</a>


<!-- 

<app-script-component>
  alert('hoi');
  
</app-script-component> -->



<h4>An untrusted URL:</h4>
<p><a  [href]="dangerousUrl">Click me</a></p>
<h4>A trusted URL:</h4>
<p><a [href]="trustedUrl">Click me</a></p>








<div class='container-fluid'>
  qwqw 
  qwqw
  <div class='row'>
    <div class='col-sm-12 body-content'>
      <div [innerHTML]="script"></div>
      <script type="text/javascript" [src] = "src"></script>
    </div>
  </div>
</div>